<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="editing">
    <button mat-raised-button color="primary" (click)="editAnimals($event)">Editar mis animales</button>
  </div>
  <br>
  <div class="menus" *ngIf="!editMode">
    <div class="column">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuVariables" data-toggle="dropdown" id="dropdownVariablesButton">
          Variables
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownVariablesButton">
          <li><button class="dropdown-item" (click)="selectLat()">Latitud</button></li>
          <li><button class="dropdown-item" (click)="selectLong()">Longitud</button></li>
          <li><button class="dropdown-item" (click)="selectTemp()">Temperatura Ambiente</button></li>
          <!--<li class="divider"></li>-->
        </ul>
      </div>  
    </div>
    <div class="column">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownAnimalsButton">
          Animales
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownAnimalsButton">
          <!-- ¿lista dinámica de objetos?-->
          <!-- 
          <li><a class="dropdown-item" href="#">Vaca 1</a></li>
          <li><a class="dropdown-item" href="#">Vaca 2</a></li>
          <li><a class="dropdown-item" href="#">Vaca 3</a></li> 
          -->
          <option *ngFor="let animal of animals" [value]="animal">{{animal.idsensor}}</option>
          <!--<li class="divider"></li>-->
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="graph-container" *ngIf="!editMode">
    <div class="graph" *ngIf="latselect">
      <iframe src="https://thingspeak.com/channels/1022535/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>
    <div class="graph" *ngIf="longselect">
      <iframe src="https://thingspeak.com/channels/1022535/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>
    <div class="graph" *ngIf="tempselect">
      <iframe src="https://thingspeak.com/channels/1022535/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>     
  </div>

  <!-- Modo de edición. Tablita pra agregar y quitar animales-->
  <div class="editing-table" *ngIf="editMode">
    <p>lorem</p>
  </div>
</body>
