<head>
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="page">
        <div class="upper">
            <h2>Ingresa tus datos</h2>
        </div>
        <div class="lower">
            <div class="fit"></div>
            <form (submit)="addPerson($event)">
            <!-- Elementos de persona:
                    Nombre completo
                    Correo electrónico
                    Contraseña
                    Nombre del terreno
                    Twitter (opcional)
                    País             
            -->
                <div class="centro">
                    <div class="form-group row">
                        <label for="inputFullName" class="col-sm-2 col-form-label">Nombre completo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required name="persona" [(ngModel)]="persona.fullname" placeholder='Nombre completo'>
                        </div>
                        <div class="empty" *ngIf="emptyname">
                            <p>El nombre no puede estar vacío</p>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <label for="inputMail" class="col-sm-2 col-form-label">Correo electrónico</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control"  name="persona" [(ngModel)]="persona.email" placeholder='Email' required>
                        </div>
                        <div class="exists" *ngIf="exists">
                            <p>Ya existe una cuenta con este correo.</p>
                        </div>
                        <div class="empty" *ngIf="emptyemail">
                            <p>El correo electrónico no puede estar vacío.</p>
                        </div>
                        <div class="empty" *ngIf="notemail">
                            <p>Inserte un correo electrónico con el formato adecuado.</p>
                        </div>
                    </div>
                     
                    <div class="form-group row">
                        <label for="inputTerrainName" class="col-sm-2 col-form-label">Nombre de propiedad (Opcional)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="persona" [(ngModel)]="persona.terrainName" placeholder='Nombre de propiedad'>
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" required minlength="5" name="persona" [(ngModel)]="persona.password" placeholder='Contraseña'>
                        </div>
                        <div class="empty" *ngIf="emptypassword">
                            <p>La contraseña no puede estar vacía.</p>
                        </div>
                        <div class="empty" *ngIf="shortpassword">
                            <p>La contraseña debe tener por lo menos 5 caracteres de longitud.</p>
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="inputCountry" class="col-sm-2 col-form-label">País</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required name="persona" [(ngModel)]="persona.country" placeholder='País'>
                        </div>
                        <div class="empty" *ngIf="emptycountry">
                            <p>El país no puede estar vacío.</p>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <label for="inputTwitter" class="col-sm-2 col-form-label">Twitter (Opcional)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="persona" [(ngModel)]="persona.twitterAt" placeholder='Cuenta de Twitter (opcional)'>
                        </div>
                    </div>
                    
                    <button>Crear perfil</button>
                </div>
            </form>
            <div class="fit"></div>
        </div>
    </div>
</body>
