<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
    
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Cambiar foto" />
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" name="persona" style="font-size: 1.5rem; font-weight: bold" [(ngModel)]="persona.fullname" *ngIf="!editMode">{{persona.fullname}}</h2>
                                    <!--<h6 class="d-block" name="persona" *ngIf="!`${persona.rol}`" >"Admin"</h6> [(ngModel)]="persona.rol"-->
                                    <!--<h6 class="d-block" name="persona" *ngIf="`${persona.rol}`" >"User"</h6> [(ngModel)]="persona.rol"-->
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Descartar cambios" />
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Nombre de su propiedad</label>
                                        </div>
                                        <div class="col-md-8 col-6" [(ngModel)]="persona.terrainName" *ngIf="!editMode">
                                            {{persona.terrainName}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Correo electrónico</label>
                                        </div>
                                        <div class="col-md-8 col-6" [(ngModel)]="persona.email" *ngIf="!editMode">
                                            {{persona.email}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">País</label>
                                        </div>
                                        <div class="col-md-8 col-6" [(ngModel)]="persona.country" *ngIf="!editMode">
                                            {{persona.country}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Cuenta de Twitter</label>
                                        </div>
                                        <div class="col-md-8 col-6" [(ngModel)]="persona.twitterAt" *ngIf="!editMode"> 
                                            {{persona.twitterAt}}
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="button" class="btn btn-secondary" id="btnChangeInfo" value="Editar perfil" (click)="editProfile()"/>
                                </div>
                            </div>
                        </div>
                        <div class="Editing" *ngIf="editMode">
                            <form (submit)="saveChanges($event)">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Nombre completo</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="newname" class="form-control" name="persona" [(ngModel)]="persona.fullname" placeholder='Nombre completo'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputTerrain" class="col-sm-2 col-form-label">Nombre del terreno</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="newterrain" class="form-control" name="persona" [(ngModel)]="persona.terrainName" placeholder='Nombre de propiedad'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Correo electrónico</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="newemail" class="form-control" name="persona" [(ngModel)]="persona.email" placeholder='Correo electrónico'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputCountry" class="col-sm-2 col-form-label">País</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="newcountry" class="form-control" name="persona" [(ngModel)]="persona.country" placeholder='País'>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <label for="inputCountry" class="col-sm-2 col-form-label">Cuenta de Twitter</label>
                                        <input type="text" id="newtwitter" class="form-control" name="persona" [(ngModel)]="persona.twitterAt" placeholder='Usuario de Twitter'>
                                    </div>
                                </div>
                                <button>Guardar cambios</button>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!--https://bootsnipp.com/snippets/E1nNa-->