<head>
</head>
<body>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img src="assets/images/rancho.jpg">
            <!--<img src="https://www.elsoldehidalgo.com.mx/policiaca/j547y9-charreria.jpg/alternates/LANDSCAPE_768/CHARRERIA.jpg">-->
        </mat-grid-tile>
        <mat-grid-tile>
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam vel odio amet atque temporibus minus veritatis ab, molestias accusantium illo, quasi repellat sint nisi vero laudantium magnam sunt cupiditate?</a>
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, omnis nesciunt porro blanditiis excepturi ex quia incidunt tempore? Perferendis a soluta ratione qui nihil architecto, praesentium nemo distinctio! Hic, nam.</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nisi sed obcaecati delectus neque in a ipsa repellat, animi deserunt totam modi dignissimos odio iure, exercitationem, quos eius voluptates molestias!</a>
            <a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, rerum id aperiam ab expedita dicta modi nam, saepe quod nihil ipsa rem similique atque aut nulla aliquam. Facere, dolorum blanditiis.</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/rastreo.jpg">
            <!--<img src="https://statics-cuidateplus.marca.com/sites/default/files/styles/natural/public/vaca.jpg?itok=-moor89F">-->
        </mat-grid-tile>
    </mat-grid-list>
</body>
