<head>
</head>
<body>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img src="assets/images/rancho.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
            <a>Bienvenidos al Rastreo de ganado. Nuestra empresa se enfoca en monitorear a sus cabezas de ganado para que Usted pueda recuperarlas con mayor facilidad en caso de que salgan de su propiedad.</a>
            <br>
            <a>Con tecnología moderna, mantenemos un registro de la ubicación geográfica de sus animales para notificarle cualquier percance y traerle beneficios mediante otras variables que resumimos para Usted.</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a>Rastreo de ganado le muestra gráficas de las coordenadas de sus animales prácticamente en tiempo real, así como la temperatura del ambiente y la de cada animal. Con esta información, Usted podrá determinar con mayor facilidad el estado de salud de su ganado.</a>
            <br>
            <a>Contrátenos y notará la diferencia de inmediato. Diga adiós a las horas de preocupación buscando a sus animales en fuga y minimice sus pérdidas monetarias. Tome la suscripción a rastreo de ganado como una inversión minúscula comparada contra un gasto considerable. ¡Contrátenos ya!</a>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/rastreo.jpg">
        </mat-grid-tile>
    </mat-grid-list>
</body>
