<head>
</head>
<body>
    <nav mat-tab-nav-bar fxFlex fxFlexLayout fxLayoutAlign="center center">
    
        <span class=toolbar-flex></span>
        <a mat-tab-link routerLink="/" >Home</a> <!-- routerLinkActive #home="routerLinkActive"-->
        <!-- cambiar a que sea con el botón del logo-->
        <a mat-tab-link routerLink="/map" >Estado actual</a> <!--routerLinkActive #cuartos="routerLinkActive"-->
        <a mat-tab-link routerLink="/data" >Mis animales</a> <!-- routerLinkActive #servicios="routerLinkActive"-->
        <!--<a mat-tab-link routerLink="usuario" routerLinkActive #usuario="routerLinkActive"[active]="usuario.isActive">Usuario</a>-->
        <span class=toolbar-flex></span>
    
    </nav>
</body>
